@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
background-color: #252525;

}

p {
    font-family: Titillium Web;
    text-align: center;
    color: #ffffff;
    font-size: 35px;

}

button {
    font-family: Titillium Web;
    background-color: #141414;
    color: #ffffff;
    width: 600px;
    height: 50px;
    border-radius: 15px;
    font-size: 25px;
    
}

div {
    text-align: center;
}
